---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout 
  title="About" 
  description={`About Ameachi a simple Astro blog template.`}>
    <div>
        <article>
            <header>
                <h2>About</h2>
            </header>
            <p>
                Bibendum arcu vitae elementum curabitur. Ac feugiat sed lectus vestibulum mattis ullamcorper velit sed. Ultrices gravida dictum fusce ut. Augue neque gravida in fermentum et sollicitudin ac orci phasellus. Enim ut sem viverra aliquet eget sit amet tellus. Mi sit amet mauris commodo quis imperdiet massa. Eget felis eget nunc lobortis. Nunc consequat interdum varius sit amet mattis vulputate enim. Nisi porta lorem mollis aliquam ut porttitor leo. Mauris nunc congue nisi vitae suscipit tellus mauris. Risus sed vulputate odio ut enim blandit volutpat. In ante metus dictum at tempor commodo ullamcorper. Integer enim neque volutpat ac tincidunt vitae semper quis.
            </p>
        </article>
    </div>
</MainLayout>