---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout 
  title="Home" 
  description={`Hey! This Ameachi a simple Astro blog template.`}>
    <div>
        <article>
            <header>
                <h2>Home</h2>
            </header>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Iaculis nunc sed augue lacus viverra vitae. Scelerisque purus semper eget duis at tellus at. Pellentesque sit amet porttitor eget dolor morbi non arcu risus. Mauris pharetra et ultrices neque ornare aenean euismod elementum. Tempus egestas sed sed risus pretium quam. Dolor sed viverra ipsum nunc aliquet. Porttitor eget dolor morbi non arcu. Et malesuada fames ac turpis. Ipsum suspendisse ultrices gravida dictum.
            </p>
        </article>
    </div>
</MainLayout>